        <% if session[:admin_id] %>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>

    <section class="tabs-section"style="margin-top: -80px">
     <%= render 'layouts/header_profile_admin' %>

<br><br><br>


            <div class="container" >
   <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Trim Types <a href="/trims/new" style="font-size: 16px;">Add Trim type</a></h4>
                   
              <div class="table-responsive m-t-40">
                                    <div id="example23_wrapper" class="dataTables_wrapper dt-bootstrap4">

                                    


                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">
                                        <thead>
                                        <tr><th class="sorting_asc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 171px;">ID</th><th rowspan="1" colspan="1">Trim</th></th><th rowspan="1" colspan="1"></th></tr>
                                        </thead>
                                     
                                        <tbody>
                                
                                            
                           
                                  
    

           <% @trims.each do |trim| %>
                                            
                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><div  style="margin-top: 12px;margin-left: 15px;"><%= trim.id %></div></td>
                                                <td class="sorting_1"><div  style="margin-top: 12px;margin-left: 15px;"><%= trim.trim %></div></td>
                                           
                                                 <td align="center"><button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false" style="background-color: transparent;">
                  <img src="/3-Dots.png" style="margin-top: 10px;margin-left: -15px;" style="background-color: transparent;">
                 
                  </button>
                  <ul class="dropdown-menu" role="menu" style="width: 140px;  height: 102px;  border: solid 1px #d2d2d2;  background-color: #f7f8f9;">
                    <li class="options_links"><a href="/trims/<%= trim.id %>/edit" style="color: #a4a4a4;">Edit Trim</a></li>
                    <li class="options_links"><a href="/delete_trim?trim=<%= trim.id %>" style="color: #a4a4a4;">Delete Trim</a></li>
                  
               
                  </ul></td>
                                            </tr>
 <% end %>



                                        </tbody>
                                    </table>

                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>

            </div>



        </section>

        <% else %>
        <div align="center" style="margin-top: -700px;">
 <button class="value_button" data-toggle="modal" data-target="#modalLoginForm" style="margin-top: 35%;">PLEASE SIGN IN</button>
</div><br><br><br>
        <% end %>






