<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @conversation.user_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @conversation.admin_id %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
