<%= form_with(model: daily_visitor, local: true) do |form| %>
  <% if daily_visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_visitor.errors.count, "error") %> prohibited this daily_visitor from being saved:</h2>

      <ul>
      <% daily_visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_email %>
    <%= form.text_field :user_email, id: :daily_visitor_user_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
