<p id="notice"><%= notice %></p>

<h1>Daily Visitors</h1>

<table>
  <thead>
    <tr>
      <th>User email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_visitors.each do |daily_visitor| %>
      <tr>
        <td><%= daily_visitor.user_email %></td>
        <td><%= link_to 'Show', daily_visitor %></td>
        <td><%= link_to 'Edit', edit_daily_visitor_path(daily_visitor) %></td>
        <td><%= link_to 'Destroy', daily_visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Visitor', new_daily_visitor_path %>
