<p id="notice"><%= notice %></p>

<h1>User Stats</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_stats.each do |user_stat| %>
      <tr>
        <td><%= user_stat.state %></td>
        <td><%= user_stat.email %></td>
        <td><%= link_to 'Show', user_stat %></td>
        <td><%= link_to 'Edit', edit_user_stat_path(user_stat) %></td>
        <td><%= link_to 'Destroy', user_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Stat', new_user_stat_path %>
