                     

                        <style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 300px;
}



input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #00357a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #00357a;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #00357a;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00357a;
}
.inputGroup {

  }


.first_div{

  color: #ffffff;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Damaged" */
text-align: center;
vertical-align: middle;
line-height: 74px;
font-weight: 700;
  background-color: #ff8409;
  border-radius: 4px;
  height: 74px;
}
.form_label{
  color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Engine Con" */
font-weight: 700;
}


.special_selec{
    color: #ffffff;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Damaged" */
text-align: center;
vertical-align: middle;
line-height: 74px;
font-weight: 700;
  background-color: #ff8409;
  border-radius: 4px;
  height: 74px;
}



</style>
<style type="text/css">
  .value_button{


    max-width: 376px;
    min-width: 280px;
height: 75px;
background-color: #ff8409;


border: 1px solid #ffffff;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 18px;
font-weight: 600;

letter-spacing: 4.57px;
line-height: 8px;
text-transform: uppercase;
/* Text style for "VALUE YOUR" */

font-weight: 400;

}
</style>
<% if session[:admin_id] %>

<style type="text/css">
.value_button{


    max-width: 376px;
    min-width: 280px;
height: 75px;
background-color: #ff8409;


border: 1px solid #ffffff;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 18px;
font-weight: 600;

letter-spacing: 4.57px;
line-height: 8px;
text-transform: uppercase;
/* Text style for "VALUE YOUR" */

font-weight: 400;

}
    .email-tel-user{



color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 19px;
font-weight: 300;
letter-spacing: 2.62px;
line-height: 11px;
/* Text style for "ehabfcih94" */
margin-top: 20px;
font-weight: 300;
    }

    .name_user{
        color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 22px;
font-weight: 700;
letter-spacing: 3.04px;
line-height: 11px;
/* Text style for "Ehab Moham" */
font-family: "Segoe UI";
font-weight: 700;


    }

.titles_first_blocks{
  color: #777777;
  margin-top: 30%;
  margin-left: 15%;
font-family: Arial;
font-size: 15px;
font-weight: 700;
line-height: 22px;
}

.numbers_admin_starters{

  color: #ff8409;
font-family: Arial;
font-size: 20px;
font-weight: 700;
line-height: 39px;
  margin-left: 23%;
}
</style>

<style type="text/css">
  
  .col_first_car_month{
    color: #b2b5b8;
    text-align: left;
font-family: Arial;
font-size: 14px;
font-weight: 400;
line-height: 37px;
  }

  .col_second_car_month{
    color: #404447;
    text-align: left;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 37px;
  }


  .recent_evaluations{

color: #404447;
font-family: Arial;
font-size: 16px;
font-weight: 400;
letter-spacing: 1.2px;
line-height: 40px;

  }
</style>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>


<section class="tabs-section"style="margin-top: -80px">
     <%= render 'layouts/header_profile_admin' %>


     <div class="container" ><br>
 <div class="row" style="    width: 100%;margin-top: 45px;">

  <form action="/admin_dashboard" method="get" style="width: 100%">

    <div class="row">
      
          <div class="col-10">
            <input type="text" id="demo" name="date_range" class="form-control form-control-sm" style="height: 40px" value="<%= params[:date_range] %>"> 
          </div>
<div class="col-2">
   <button class="btn btn-default" style="width: 100px;height: 40px;background-color: #00357a;color: #fff;border-radius: 4px;cursor:pointer;text-align: left;pad">Filter</button>
          </div>


    </div>
 

</form>


 </div>
 <link href="https://www.cssscript.com/demo/date-range-picker-lightpick/css/lightpick.css" rel="stylesheet" type="text/css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
 <script src="https://www.cssscript.com/demo/date-range-picker-lightpick/lightpick.js"></script>
<script>
    function rangeText(start, end) {
    var str = '';
    str += start ? start.format('Do MMMM YYYY') + ' to ' : '';
    str += end ? end.format('Do MMMM YYYY') : '...';

    return str;
}
    new lightPick({
    field: document.getElementById('demo'),
    lang: 'en',
    numberOfMonths:2,
    numberOfColumns: 3,
    singleDate: false,
    onSelect: function(start, end){
        document.getElementById('result').innerHTML = rangeText(start, end);
    }
});
</script>
     <div class="row" style="    width: 100%;margin-top: 45px;">





        <div class="col-4" style="background: url(/daily_users.png) no-repeat;height: 213px;width: 245px;">

       

     


                <p class="titles_first_blocks" style="margin-left: 55px;">Total Visitors</p>
                 <p class="numbers_admin_starters"><%= DailyVisitor.all.count %></p>

        </div>

            <div class="col-4" style="background: url(/daily_registrations.png) no-repeat;height: 213px;width: 245px;">

              <p class="titles_first_blocks" style="margin-left: 50px;">Total Registration</p>
                   <p class="numbers_admin_starters"><%= User.all.count %></p>
        </div>


            <div class="col-4" style="background: url(/daily_evaluations.png) no-repeat;height: 213px;width: 245px;">

 <p class="titles_first_blocks" style="margin-left: 50px;">Total Evaluations</p>
                   <p class="numbers_admin_starters"><%= Valuation.all.count %></p>
        </div>

      </div>




      <div class="row" style="    width: 100%;margin-top: 45px;">





        <div class="col-4" style="background: url(/daily_users.png) no-repeat;height: 213px;width: 245px;">

       

          <!-- 22/03/2019 - 23/03/2019 -->
          <% if params[:date_range] %>
                    <% array_date = params[:date_range].split(' - ') %>
                     <% start = array_date[0] %>
                     <% end_date = array_date[1] %>

                     <% t_start = Time.parse(start) %>
                     <% t_end = Time.parse(end_date) %>
          <% end %>



              <% if params[:date_range] %>
                 <p class="titles_first_blocks" style="margin-left: 50px;">Filtered Visitors</p>
          <p class="numbers_admin_starters"><%= DailyVisitor.where(created_at: t_start.beginning_of_day..t_end.end_of_day).count %></p>
              <% else %>
                 <p class="titles_first_blocks" style="margin-left: 55px;">Daily Visitors</p>
                 <p class="numbers_admin_starters"><%= DailyVisitor.where(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).count %></p>

              <% end %>
        </div>

            <div class="col-4" style="background: url(/daily_registrations.png) no-repeat;height: 213px;width: 245px;">

               
                 <% if params[:date_range] %>
                  <p class="titles_first_blocks" style="margin-left: 40px;">Filtered Registration</p>
                <p class="numbers_admin_starters"><%= User.where(created_at: t_start.beginning_of_day..t_end.end_of_day).count %></p>
                 <% else %>
 <p class="titles_first_blocks" style="margin-left: 50px;">Daily Registration</p>
                   <p class="numbers_admin_starters"><%= User.where(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).count %></p>
                  <% end %>
        </div>


            <div class="col-4" style="background: url(/daily_evaluations.png) no-repeat;height: 213px;width: 245px;">

    <% if params[:date_range] %>
      <p class="titles_first_blocks" style="margin-left: 40px;">Filtered Evaluations</p>
  <p class="numbers_admin_starters"><%= Valuation.where(created_at: t_start.beginning_of_day..t_end.end_of_day).count %></p>
 <% else %>
  <p class="titles_first_blocks" style="margin-left: 50px;">Daily Evaluation</p>
                   <p class="numbers_admin_starters"><%= Valuation.where(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).count %></p>
                  <% end %>
        </div>

      </div>

     </div>



         <div class="container" >

      <div class="row" style="    width: 100%;margin-top: 45px;">

        <div class="col-4" style="background: url(/daily_users.png) no-repeat;height: 213px;width: 245px;">

      
            <% if params[:date_range] %>
                <p class="titles_first_blocks" style="margin-left: 35px;">Filtered Active Users</p>
                <p class="numbers_admin_starters"><%= User.where("active_flag =? AND created_at >=? AND created_at <=?",true,t_start.beginning_of_day,t_end.end_of_day).count %></p>
  
            <% else %>
                  <p class="titles_first_blocks" style="margin-left: 35px;">Daily Active Users</p>
                <p class="numbers_admin_starters"><%= User.where("active_flag =?",true).count %></p>
              <% end %>
        </div>

            <div class="col-4" style="background: url(/daily_users.png) no-repeat;height: 213px;width: 245px;">

              
                  <% if params[:date_range] %>
                    <p class="titles_first_blocks" style="margin-left: 30px;">Filtered Inactive Users</p>
                <p class="numbers_admin_starters"><%= User.where("active_flag =? OR active_flag =? AND created_at >=? AND created_at <=?",false,nil,t_start.beginning_of_day,t_end.end_of_day).count %></p>
                 <% else %>
                   <p class="titles_first_blocks" style="margin-left: 35px;">Daily Inactive Users</p>
                     <p class="numbers_admin_starters"><%= User.where("active_flag =? OR active_flag =?",false,nil).count %></p>
              <% end %>
        </div>


            <div class="col-4" style="background: url(/daily_users.png) no-repeat;height: 213px;width: 245px;">
 
   <% if params[:date_range] %>
    <p class="titles_first_blocks" style="margin-left: 25px;">Filtered Deleted Users</p>
  <p class="numbers_admin_starters"><%= UserStat.where("state =? AND created_at >=? AND created_at <=?","Deleted",t_start.beginning_of_day,t_end.end_of_day).count %></p>
 <% else %>
  <p class="titles_first_blocks" style="margin-left: 35px;">Daily Deleted Users</p>
  <p class="numbers_admin_starters"><%= UserStat.where("state =?","Deleted").count %></p>
  <% end %>
        </div>

      </div>

     </div>
      <br><br><br><br> 



      <div class="container" >
                 <div class="tab-content" id="myTabContent" style="background-color: #f3f3f3" >
                        <div class="tab-pane fade active show" id="ser-1" role="tabpanel" aria-labelledby="ser-1-tab">
                        
                            <div class="row">

                              <div class="col-8"  style="background-image: url(/recent_eval.png);height: 360px;max-width: 530px;min-width: 320px;border-radius: 4px;">
<style type="text/css">
  #myChart{

        max-width: 530px;
        min-width: 320px;
        height: 365px;
  }
</style>
                               


<% january = Date.strptime("01/01/2019", "%m/%d/%Y") %>
<% febuary = Date.strptime("02/01/2019", "%m/%d/%Y") %>
<% march = Date.strptime("03/01/2019", "%m/%d/%Y") %>
<% april = Date.strptime("04/01/2019", "%m/%d/%Y") %>
<% may = Date.strptime("05/01/2019", "%m/%d/%Y") %>
<% june = Date.strptime("06/01/2019", "%m/%d/%Y") %>



<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
        datasets: [{
            label: 'Evaluations',
            data: [<%= Valuation.where(:created_at => january.at_beginning_of_month..january.at_end_of_month).count %>, <%= Valuation.where(:created_at => febuary.at_beginning_of_month..febuary.at_end_of_month).count %>, <%= Valuation.where(:created_at => march.at_beginning_of_month..march.at_end_of_month).count %>, <%= Valuation.where(:created_at => april.at_beginning_of_month..april.at_end_of_month).count %>, <%= Valuation.where(:created_at => may.at_beginning_of_month..may.at_end_of_month).count %>, <%= Valuation.where(:created_at => june.at_beginning_of_month..june.at_end_of_month).count %>],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>



</div>


                              <div class="col-4"style="margin-top:-10px;">
  <% brand = Valuation.group('brand').order('COUNT(*) DESC').select('brand').limit(1)[0] %>
                                <div style="margin-top:-10px;background-image: url(/recent_eval.png);margin-bottom: 10px;margin-right: 10px;margin-left: 10px;margin-top: 10px;width:100%;background-repeat: no-repeat;  background-size: cover;">
                                  <div style="" align="center">
                                  <h2 style="text-align: left;margin-left:20px;color: #404447;font-family: Arial;font-size: 19px;font-weight: 400;letter-spacing: 1.43px;line-height: 48px;">Car of the month</h2>
                                  <img src="<%= Brand.find(brand.brand).picture.url %>" style="height: 140px;">

                                  <div class="row" style="margin-top: 20px;margin-left: 20px;" align="center">

                                      <div class="col-6">
                                        <p class="col_first_car_month">User Evaluations: </p>
                                      </div>
                                      <div class="col-6">
                                        <p class="col_second_car_month"><%= Valuation.all.count %></p>
                                      </div>

                                       <div class="col-6">
                                       
                                        <p class="col_first_car_month">Car Brand: </p>
                                      </div>
                                      <div class="col-6">
                                        <p class="col_second_car_month"><%= Brand.find(brand.brand).name %></p>
                                      </div>


                                       <div class="col-6">
                                        <p class="col_first_car_month">Car Model: </p>
                                      </div>
                                      <div class="col-6">
                                        <% car = Valuation.group('model_car').order('COUNT(*) DESC').select('model_car').limit(1)[0] %>
                                        <p class="col_second_car_month"><%= CarModel.find(car.model_car ).name %></p>
                                        
                                      </div>
                                  </div>
                                </div>
                                </div>
                              </div>


                            </div>





<br><br>

                            <div class="row">
   <div class="col-4"style="margin-top:0px;background-image: url(/recent_eval.png);width:100%;background-repeat: no-repeat;  background-size: cover;border-radius: 4px;">
 <p class="recent_evaluations">User Types</p>
                                      <style type="text/css">
                                  #myChart{

                                        max-width: 530px;
                                        min-width: 320px;
                                        height: 365px;
                                  }
                                </style>
                               


                                <canvas id="myChart2"></canvas>

                                <div class="row" style="    margin-top: 10px;    height: 120px;    margin-left: 10px;" align="center">

                                      <div class="col-6">
                                        <p class="col_first_car_month">Buyers: </p>
                                      </div>
                                      <div class="col-6">
                                          <% if params[:date_range] %>
                                                <p class="col_second_car_month"><%= Valuation.where("valuation_type =? AND created_at >=? AND created_at <=?","Buyer",t_start.beginning_of_day,t_end.end_of_day).count %></p>
                                          <% else %>
                                                <p class="col_second_car_month"><%= Valuation.where("valuation_type =?","Buyer").count %></p>
                                          <% end %>
                                  
                                      </div>

                                       <div class="col-6">
                                        <p class="col_first_car_month">Sellers: </p>
                                      </div>
                                      <div class="col-6">
                                        <% if params[:date_range] %>
                                          <p class="col_second_car_month"><%= Valuation.where("valuation_type =? AND created_at >=? AND created_at <=?","Seller",t_start.beginning_of_day,t_end.end_of_day).count %></p>
                                        <% else %>

                                          <p class="col_second_car_month"><%= Valuation.where("valuation_type =?","Seller").count %></p>
                                        <% end %>
                                      
                                      </div>


                                       <div class="col-6">
                                        <p class="col_first_car_month">Visitors: </p>
                                      </div>
                                      <div class="col-6">
<% if params[:date_range] %>
                                              <p class="col_second_car_month"><%= DailyVisitor.where(created_at: t_start.beginning_of_day..t_end.end_of_day).count %></p>
<% else %>
                                                 <p class="col_second_car_month"><%= DailyVisitor.where(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).count %></p>
<% end %>

                                      </div>
                                  </div>
                                <script>
                                var ctx = document.getElementById("myChart2").getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                        labels: ["Buyers", "Sellers", "Visitors"],
                                        datasets: [{
                                            label: 'Evaluations',
                                            data: [
                                            <% if params[:date_range] %>

                                                 <%= Valuation.where("valuation_type =? AND created_at >=? AND created_at <=?","Buyer",t_start.beginning_of_day,t_end.end_of_day).count %>, <%= Valuation.where("valuation_type =? AND created_at >=? AND created_at <=?","Seller",t_start.beginning_of_day,t_end.end_of_day).count %>,<%= DailyVisitor.where(created_at: t_start.beginning_of_day..t_end.end_of_day).count %>

                                            <% else %>

                                               <%= Valuation.where("valuation_type =?","Buyer").count %>, <%= Valuation.where("valuation_type =?","Seller").count %>,<%= DailyVisitor.where(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).count %>



                                            <% end %>
                                         

                                            , 0],
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255,99,132,1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero:true
                                                }
                                            }]
                                        }
                                    }
                                });
                                </script>


                              </div>
                              <div class="col-8"  style="margin-left:20px;background: url(/recent_eval.png) no-repeat;height: 365px;max-width: 530px;min-width: 320px;">
                      
                                <p class="recent_evaluations">Recent Evaluations</p>

                                <% if params[:date_range] %>
                              <%  @valuations = Valuation.where(:created_at => t_start.beginning_of_day..t_end.end_of_day).order("created_at DESC").limit(4) %>
                                <% else %>

                               <% @valuations = Valuation.last(4) %>
                                <% end %>
                          <% @valuations.each do |valuaiton| %>
                               <div style="border-radius: 10px;background-color: #f7f8f9;width: 100%;height: 60px;margin-top: 10px;">
                                  
                                  <div class="row">
                                    <div class="col-2">
                                      <% if Brand.find(valuaiton.brand) %>

                                       <img src="<%= Brand.find(valuaiton.brand).picture.url %>" style="width: 38px;margin-top: 16px;margin-left: 20px;"> 
                                      <% else %>
                                       <img src="" style="width: 38px;margin-top: 16px;margin-left: 20px;"> 

                                      <% end %>
                                     
                                    </div>
                                    <div class="col-7" style="margin-left: -25px;">
                                      <p style="color: #404447;font-family: Arial;font-size: 14px;font-weight: 400;letter-spacing: 1.05px;line-height: 40px;text-transform: uppercase;margin-top: 10px;"><%= Brand.find(valuaiton.brand).name %></p>
                                    </div>
                                    <div class="col-2" style="margin-left: -5px;"> 
                                      <p style="color: #97a3b4;font-family: Arial;font-size: 12px;font-weight: 400;letter-spacing: 1.05px;line-height: 40px;text-transform: uppercase;margin-top: 10px;"><%= Brand.find(valuaiton.brand).created_at.strftime("%m/%d/%Y") %> </p>
                                    </div>
                                    <div class="col-1">
                                      <img src="/3-dots.png" style="margin-top: 20px;">
                                    </div>
                                    </div>

                                </div>



                                <% end %>

                              </div>


                           


                            </div>












                        </div>
               

                          <div class="tab-pane fade" id="ser-2" role="tabpanel" aria-labelledby="ser-2-tab">
                            <div class="row"  style="margin-left:-20px;background: url(/recent_eval.png) repeat;height: 500px;width: 100%;">
      
                            <div class="row" style=" margin-left: 20px;width: 100%">
                                      <!-- https://pngimage.net/wp-content/uploads/2018/06/user-avatar-png-1.png -->
                                      <div class="col-4" style="width: 400px;"><p class="user_name_listing">Users</p></div>
                                      <div class="col-3"><p class="user_name_listing">Emails</p></div>
                                      <div class="col-2"><p class="user_name_listing" style="margin-left: -30px;">Phone Numbers</p></div>
                                        <div class="col-2"><p class="user_name_listing">Start Date</p></div>
                                     
                                    </div>
                    <style type="text/css">
                             
                             .row_admin{

                              width: 100%;
                              height: 60px;
                              border-radius: 10px;
                              background-color: #f7f8f9;
                              margin-top: 10px;
                              margin-right: 10px;
                              margin-left: 10px;
                             }
                             .user_name_listing{
                              width: 123px;
                            height: 16px;
                            font-family: Arial;
                            font-size: 14px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 2.86;
                            letter-spacing: 1.1px;
                            text-align: left;
                            color: #404447;
                            margin-left: -20px;
                            margin-top: 12px
                             }

                             .email_listing{
                              width: 168px;
                              height: 16px;
                              font-family: Arial;
                              font-size: 14px;
                              font-weight: normal;
                              font-style: normal;
                              font-stretch: normal;
                              line-height: 2.86;
                              letter-spacing: 1.1px;
                              text-align: left;
                              color: #9a9a9a;
                              margin-top: 12px;
                             }
                             .started_at_listing{
                              width: 69px;
                                height: 18px;
                                font-family: OpenSans;
                                font-size: 13px;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.38;
                                letter-spacing: normal;
                                text-align: left;
                                color: #97a3b4;
                                margin-top: 23px;
                             }
                           </style>

                              <style type="text/css">
                       .options_links{
                         width: 79px;
  height: 15px;
  font-family: Arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: 1px;
  text-align: left;
  color: #a4a4a4;
  margin-left: 20px;
  margin-top: 20px
                       }
                     </style>
                     
                          <% User.last(6).each do |user| %>
                         
                                            
                                  <div class="row_admin">
                                    
                                    <div class="row">
                                      <!-- https://pngimage.net/wp-content/uploads/2018/06/user-avatar-png-1.png -->
                                      <div class="col-1" style="width: 50px;"><img src="https://pngimage.net/wp-content/uploads/2018/06/user-avatar-png-1.png" style="width: 38px;height: 38px;margin-top: 12px;margin-left: 15px;"></div>
                                      <div class="col-3"><p class="user_name_listing"><%= user.name %></p></div>
                                      <div class="col-3"><p class="email_listing"><%= user.email %></p></div>
                                        <div class="col-2"><p class="email_listing"><%= user.phone %></p></div>
                                        <div class="col-2"><p class="started_at_listing"><%= user.created_at.strftime("%m/%d/%Y")  %></p></div>
                                         <div class="col-1"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="background-color: transparent;">
                  <img src="/3-Dots.png" style="margin-top: 10px;margin-left: -15px;" style="background-color: transparent;">
                 
                  </button>
                  <ul class="dropdown-menu" role="menu" style="width: 140px;  height: 102px;  border: solid 1px #d2d2d2;  background-color: #f7f8f9;">
                    <li class="options_links"><a href="#" style="color: #a4a4a4;">Edit</a></li>
                    <li class="options_links"><a href="#" style="color: #a4a4a4;">Delete</a></li>
                  
               
                  </ul></div>
                                        
                                    </div>

                                  </div>
                      <% end %>

                              </div>
                          
                          </div>

                   
    <div class="tab-pane fade" id="ser-3" role="tabpanel" aria-labelledby="ser-3-tab">
                            <div class="row"  style="margin-left:-20px;background: url(/recent_eval.png) repeat;height: 500px;width: 100%;">


       <p class="recent_evaluations" style="margin-left: 10px;height: 20px;">Brands <a id="add_brand-tab1" data-toggle="tab" href="#add_brand" role="tab" aria-controls="add_brand" aria-selected="true">Add Brand</a></p>
                           

                           <style type="text/css">
                             
                             .row_admin{

                              width: 100%;
                              height: 60px;
                              border-radius: 10px;
                              background-color: #f7f8f9;
                              margin-top: 10px;
                              margin-right: 10px;
                              margin-left: 10px;
                             }
                           </style>
                     
                     <style type="text/css">
                       .options_links{
                         width: 79px;
  height: 15px;
  font-family: Arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: 1px;
  text-align: left;
  color: #a4a4a4;
  margin-left: 20px;
  margin-top: 20px
                       }
                     </style>

                          <% Brand.last(6).each do |brand| %>
                         
                                            
                                  <div class="row_admin">
                                    
                                    <div class="row">
                                      <!-- https://pngimage.net/wp-content/uploads/2018/06/user-avatar-png-1.png -->
                                      <div class="col-6" style="width: 50px;"><img src="<%= brand.picture.url %>" style="width: 38px;height: 38px;margin-top: 12px;margin-left: 15px;border-radius: 50%;"></div>
                                      <div class="col-5"><p class="user_name_listing"><%= brand.name %></p></div>
                                    <!--   <div class="col-1"><img src="/3-Dots.png" style="margin-top: 20px;margin-left: -15px;"></div> -->
                                    
                
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="background-color: transparent;">
                  <img src="/3-Dots.png" style="margin-top: 10px;margin-left: -15px;" style="background-color: transparent;">
                 
                  </button>
                  <ul class="dropdown-menu" role="menu" style="width: 140px;  height: 102px;  border: solid 1px #d2d2d2;  background-color: #f7f8f9;">
                    <li class="options_links"><a href="/brands/<%= brand.id %>/edit" style="color: #a4a4a4;">Edit</a></li>
                    <li class="options_links"><a href="/delete_brand?brand=<%= brand.id %>" style="color: #a4a4a4;">Delete</a></li>
                  
               
                  </ul>
               
                                    </div>

                                  </div>
                      <% end %>

                              </div>
                          
                          </div>








    <div class="tab-pane fade" id="add_brand" role="tabpanel" aria-labelledby="add_brand-tab">
                            <div class="row"  style="margin-left:-20px;background: url(/recent_eval.png) repeat;height: 500px;width: 100%;">
       <p class="recent_evaluations" style="margin-left: 10px;height: 20px;">Add Brand</p>
                           
                      <div  style="margin-right: 10px;margin-left: 10px;width: 100%;margin-top: -10px;">
            


                           
                             
                          <div class="row">
                 <h4 class="card-title" style="margin-left: 50px;">Add a new brand</h4>
                   
                           <% @brand = Brand.new %>  
<%= form_with(model: @brand, local: true , multipart: true, :html => {:class => 'floating-labels m-t-40'}) do |form| %><br><br><br>
                                            <div class="form-group">
                                                <label class="col-md-12">Brand Name</label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Brand Name" class="form-control form-control-line" name="brand[name]" value="<%= @brand.name %>">
                                                    
                                                </div>
                                            </div>
                                            <br><br>


                                                       <div class="row">
                                                            
                                                <div class="col-md-2">

                                                     <div class="form-group">
                                                <img src="<%= @brand.picture.url %>" id="blah" style="border-radius: 50%;width: 50px;height: 50px;margin-top:-10px;">
                                                    </div>


                                                 </div>
   
                                                <div class="col-md-10">

                                                     <div class="form-group">
                                                        <label class="col-md-12">Picture/Logo</label>
                                                        <div class="col-md-12">
                                                         
                                          <input type="file" class="form-control" id="imgInp" name="brand[picture]" value="<%= @brand.picture %>">
                                                        </div>
                                                    </div>

                                                </div>

                                                   </div>




<script type="text/javascript">
  function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function() {
  readURL(this);
});

</script>

                                   
                                            
                                      
                                         
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-success">Add/Update Brand</button>
                                                </div>
                                            </div>
                                      <% end %>



                          </div>





                         

          
                                                  </div>

                              </div>
                          
                          </div>







                         
                    </div>

</div>



        </section>

        <% else %>
        <div align="center" style="margin-top: -700px;">
 <button class="value_button" data-toggle="modal" data-target="#modalLoginForm" style="margin-top: 35%;">PLEASE SIGN IN</button>
</div><br><br><br>
        <% end %>