
<section class="background_img">
 <div class="layer">

      
      <div ;width:1920px;height: 1081px;" align="center">
                       <!-- LAYERS -->
                       <div style="margin-top: 0px;">

<br><br>
                       <img class="logo" src="/logo.png" alt=""><br><br>


                       <span class="istant-txt"><%=t :Instant_Vehicle_Valuation %></span>
<br><br>
                              <% if session[:user_id] %>
                                 <a class="value-btn" href="/valuations/new" style="margin-top: 84px;"><img class="value-btn" src="/value_car_first_button.png"></a>

                                <% else %>
                                <a href="#" class="value-btn" data-toggle="modal" data-target="#modalLoginForm"  style="margin-top: 84px;"><img class="value-btn" src="/value_car_first_button.png"></a>

                                <% end %>
                                <br><br><br><br><br><br><br>

                                <img src="/Up-to-top-Button.png" id="scroll_down">
                       </div>

            </div>
            <!-- END REVOLUTION SLIDER -->
            </div>
        </section>
        <!-- End home section -->

        <!-- feature-section 
            ================================================== -->

            <section class="about-section" id="about">
            <div class="container">
                <div class="title-section">
                    <h1 class="why-3arabeety-txt"><%=t :Why_3arabeety_? %></h1>
                     <img src="/divider_footer.png">
                    <p class="why-sub-txt"><%=t :why_subtitle %></p>
                </div>
            </div>

                <div class="container" style="margin-top: 70px;">
                <div class="feature-box">
                    <div class="row">
                            <div class="col-lg-4">
                            

                            <div class="feature-post">

                            
                                <div class="feature-content">
                                    <div class="row">
                                        <div class="col-2">
                                                <img src="/accurate.png">
                                
                                        </div>

                                        <div class="col-10">
                                                <h2 class="why_1_point"><%=t :why_1_point %></h2>
                                               <p class="info-section-2"><%=t :why_1_point_desc %></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>


                        
                                <br><br>
                                <br><br>
                            <div class="feature-post" style="margin-top: -30px;">

                            
                                <div class="feature-content">
                                    <div class="row">
                                        <div class="col-2">
                                                <img src="/real_analysis.png">
                                
                                        </div>

                                        <div class="col-10">
                                                 <h2 class="why_2_point"><%=t :why_2_point %></h2>  
                                              <p class="info-section"><%=t :why_2_point_desc %></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                                <br><br>
                                <br><br>

                                    <div class="feature-post">

                            
                                <div class="feature-content">
                                    <div class="row">
                                        <div class="col-2">
                                                <img src="/user_friendly.png">
                                
                                        </div>

                                        <div class="col-10">
                                                 <h2 class="why_3_point"><%=t :why_3_point %></h2>
                                                 <p class="info-section-2"><%=t :why_3_point_desc %></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>



                        </div>
                        <div class="col-lg-4">
                            <div class="feature-image">
                                <img class= "car-img" src="/vertical_car.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature-post">

                            
                                <div class="feature-content">
                                    <div class="row">
                                        <div class="col-2">
                                                <img src="/detailed.png">
                                
                                        </div>

                                        <div class="col-10">
                                                <h2 style="margin-left: 50px;color: #4a4a4a;font-family:'Helvetica Neue';font-size: 24px;font-weight: 700;letter-spacing: 1.75px;line-height: 31px;font-family: Arial;font-weight: 700;"><%=t :why_4_point %></h2>
                                                <p class="info-section"><%=t :why_4_point_desc %></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                                <br>
                                <br><br>
                                <div class="feature-post">

                            
                                <div class="feature-content">
                                    <div class="row">
                                        <div class="col-2">
                                                <img src="/experts.png">
                                
                                        </div>

                                        <div class="col-10">
                                                <h2 style="margin-left: 50px;color: #4a4a4a;font-family:'Helvetica Neue';font-size: 24px;font-weight: 700;letter-spacing: 1.75px;line-height: 31px;font-family: Arial;font-weight: 700;"><%=t :why_5_point %></h2>
                                                <p class="info-section"><%=t :why_5_point_desc %></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <br>
                            <br><br>

                                <div class="feature-post">

                            
                                <div class="feature-content">
                                    <div class="row">
                                        <div class="col-2">
                                                <img src="/modern_tools.png">
                                
                                        </div>

                                        <div class="col-10">
                                              <h2 style="margin-left: 50px;color: #4a4a4a;font-family:'Helvetica Neue';font-size: 24px;font-weight: 700;letter-spacing: 1.75px;line-height: 31px;font-family: Arial;font-weight: 700;"><%=t :why_6_point %></h2>
                                               <%# <div class=info-container> %>
                                                  <p class="info-section"><%=t :why_6_point_desc %></p>
                                               <%# </div> %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
<style type="text/css">
.home_section_ad{
  overflow-y: auto;
  overflow-x: hidden;
}
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 1920px;
    margin-left: -420px;
}
ul.tabs li{
    background-color: #fff;
    color: #222;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    background-size: 100% 100%;
    width: 436px;
    height: 196px;
    color: #000;
}

ul.tabs li.current {
    background: url(../active_tab.png); 
    width: 436px;
    height: 230px;
    background-size: 100% 100%;
    color: #fff;
}

.tab-content{
  margin-top: 30px;
  display: none;
  padding: 15px;
}

.tab-content.current{
    display: inherit;
}

.tab_description{
    color: #fff;
    height: 52px;
    opacity: 0.94;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    /* Text style for "Sign up wi" */
    font-family: Arial;
    font-weight: 400;
}
.tab-tab_description.current{
    display: inherit;
}
.tab_sub_title{
    height: 31px;
    font-family: "Helvetica Neue";
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 10px;
    /* Text style for "Sign Up" */
    font-family: Arial;
    font-weight: 700;
}

.background_img{
    height:1080px;margin-top: -200px;
    background-image: url('/1-back.png');
    background-repeat: no-repeat;  background-size: 100% 100%;
}
.layer {
}
.step_title{
    height: 26px;
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 7.82px;
    line-height: 24px;
    text-transform: uppercase;

}

.step_subtitle{
    height: 41px;
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 3.28px;
    line-height: 24px;
    /* Text style for "Fill out i" */
}

.step_button{
    background-color: #ff8409;
    width: 522px;
    height: 80px;
    border-width: 0px;
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5.08px;
    line-height: 9px;
    text-transform: uppercase;
}
.istant-txt{
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 66px;
  width: 743px;
  height: 71px;
  color: #ffffff;
  font-family: 'Helvetica Neue';
  font-size: 63px;
  font-weight: 700;
  line-height: 64px;
  font-family: Arial;
  font-weight: 700;
/* margin-top: */
}
.why-3arabeety-txt
{
  color: #4a4a4a;
  font-family: 'Arial';
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  font-weight: 700;
}
.why-sub-txt
{
color: #4a4a4a;
font-family: 'Arial';
font-size: 18px;
font-weight: 400;
line-height: 27px;
font-weight: 400;
min-width: 100%;
margin-top: 15px;
}
.how_it_works_sec
{
  color: #fff;
  margin-top: 122px;
  font-family: 'Helvetica Neue';
  font-size: 35px;
  font-weight: 700;
  line-height: 54px;
  font-family: Arial;
  font-weight: 700;
  margin-top: -80px;
}
.how_subtitle_sec
{
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    font-weight: 400;   
    line-height: 27px;    
    font-weight: 400;
    margin-top: -80px;   
}
.info-box{
  width: 20%;
}
.info-section{
  margin-left: 50px;
  color: #ababab;
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: Arial;
  font-weight: 500;
  width: 316px;
  height: 72px;
}
  .info-section-2{
    margin-left: 50px;
    color: #ababab;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    font-weight: 70;
    line-height: 25px;
    font-family: Arial;
    font-weight: 500;
    width: 316px;
    height: 107px;
  }
  .car-img{
    width: 250px;
    margin-left: 80px;
  }
  .why_1_point{
    margin-left: 50px;
    color: #4a4a4a;
    font-family:'Arial';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.75px;
    line-height: 31px;
    font-family: Arial;
    font-weight: 700;
  }
  .why_2_point{
    margin-left: 50px;
    color: #4a4a4a;
    font-family:'Helvetica Neue';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.75px;
    line-height: 31px;
    font-family: Arial;
    font-weight: 700;
  }
  .why_3_point{
    margin-left: 50px;
    color: #4a4a4a;
    font-family:'Helvetica Neue';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.75px;
    line-height: 31px;
    font-family: Arial;
    font-weight: 700;
  }
  .logo{
      width: 217px;
      margin-top:250px;
  }
  .car_img{
    width: 800px;
    margin-top: -400px;
    margin-right: -1500px;
  }
  .pc_img{
    width:700px;margin-top: -90px;
  }
  .pc_2_img{
    width:700px;margin-top: -90px;
  }
  .sign_up_btn{
    width: 90%;
  }
  section.quote-section2 {
  height: 1000px; 
  }
/* when using mobile or tablet remove the tabs section  */
@media (max-width: 1024px) {
  section.quote-section2 {
  background: #fff url("/background_section.png") center  no-repeat;
  background-size: cover; 
  height: 1000px; 
  }
.logo{
  width: 200px;
  margin-top:200px;
}
  .car_img{
    width: 500px;
    margin-top: -90px;
    margin-right: 1200px;
  }
  .pc_img{
    width:500px;margin-top: -90px; margin-right: 1200px;
  }
  .pc_2_img{
    width:500px;margin-top: -90px;margin-right: 1200px;
  }
ul.tabs{
    list-style: none;
    width: 750px;
    margin-left: -28px;
}

ul.tabs li{
    padding: 10px 15px;
    width: 250px;
}

ul.tabs li.current {
    width: 250px;
    height: 230px;
}

.background_img{
  height:900px;margin-top: -200px;
  background-image: url('/bg.png');
  background-repeat: no-repeat;  background-size: 100% 100%;
  fill: rgba(10,58,142,0.659);
  }

  .layer {
    display:block;
    background-color: rgba(10,58,142,0.659);
    position: absolute;
    height:900px;
    width: 100%;
    }
  .layer_2 {
    display:block;
    background-color: rgba(10,58,142,0.659);
    position: absolute;
    height:1000px;
    width: 100%;
    }
.sign-up-btn{
    width: 80%;
    align: center;
  }
  .step_subtitle{
    height: 41px;
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3.28px;
    line-height: 24px;
    align: center;
    /* Text style for "Fill out i" */
  }

  .value-btn{
    width: 70%;
  }
  .istant-txt{
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 27px;
    width: 743px;
    height: 71px;
    font-weight: 700;
    line-height: 64px;
    font-family: Arial;
    font-weight: 600;
  /* margin-top: */
  }
  .why-3arabeety-txt
  {
    color: #4a4a4a;
    font-family: 'Arial';
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    font-weight: 700;
  }
  .why-sub-txt{
    font-size: 15px;
  }
  .how_it_works_sec
  {
    font-size: 20px;
  }
  .step_title{
      height: 26px;
      color: #ffffff;
      font-family: "Helvetica Neue";
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 7.82px;
      line-height: 24px;
      text-transform: uppercase;
      display: block;
      margin-right: auto;
      margin-left: auto;
  }
  .info-section{
    margin-left: 50px;
    color: #ababab;
    font-family: 'Helvetica Neue';
    font-size: 15px;
    font-weight: 70;
    line-height: 25px;
    font-family: Arial;
    font-weight: 500;
    width: 70%;
    height: 72px;
  }
    .info-section-2{
    margin-left: 50px;
    color: #ababab;
    font-family: 'Helvetica Neue';
    font-size: 15px;
    font-weight: 70;
    line-height: 25px;
    font-family: Arial;
    font-weight: 500;
    width: 70%;
    height: 107px;
  }
  .car-img{
    width: 320px;
    position: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .why_1_point{
    margin-left: 50px;
    color: #4a4a4a;
    font-family:'Arial';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.75px;
    line-height: 31px;
    font-family: Arial;
    font-weight: 700;
  }
  .why_2_point{
    margin-left: 50px;
    color: #4a4a4a;
    font-family:'Helvetica Neue';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.75px;
    line-height: 31px;
    font-family: Arial;
    font-weight: 700;
  }
  .why_3_point{
    margin-left: 50px;
    color: #4a4a4a;
    font-family:'Helvetica Neue';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.75px;
    line-height: 31px;
    font-family: Arial;
    font-weight: 700;
  }
  .feature-image{
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .icons{
      width:8px;
  }
  .sign_up_btn{
    width: 88%;
  }
 
}
</style>


<section class="quote-section2">

<div class="container">

<div class="title-section">
  <h1 class="how_it_works_sec"><%=t :How_it_works %></h1>
  <img src="/divider_footer_blue.png">
  <p class="how_subtitle_sec"><%=t :how_subtitle %></p>
  <br>
</div>
            
    <ul class="tabs" >
      <li class="tab-link current" data-tab="tab-1" id="first_tab">
        <img src="/user_icon_tab.png" id="first_image_tab" style="height: 30px;margin-top: 40px;">
        <br>
        <label class="tab_sub_title">Sign Up</label>
        <br>
        <p class="tab_description"  id="first_tab_description">Sign up with your phone number or email address</p>
      </li>


      <li class="tab-link "  id="second_tab" data-tab="tab-2" style="margin-left: -10px">
        <img src="/car_tab_icon_blue.png"  id="second_image_tab" style="height: 30px;margin-top: 40px;">
        <br>
        <label class="tab_sub_title"><%=t :two_tab_title %></label>
        <br>
        <p class="tab_description"  id="second_tab_description" style="color: #222;"><%=t :two_tab_desc %></p>
      </li>
    <li class="tab-link " data-tab="tab-3"  id="third_tab" style="margin-left: -10px">
    <img src="/recieve_icon_tab_blue.png"  id="third_image_tab" style="height: 30px;margin-top: 40px;">
    <br>
    <label class="tab_sub_title"><%=t :three_tab_title %></label>
    <br>
    <p class="tab_description" id="third_tab_description" style="color: #222;"><%=t :three_tab_desc %></p>
    </li>
    </ul>

    <div id="tab-1" class="tab-content current"style="width: 1400px;margin-left: -100px;margin-top: 80px;">
        
        <div class="row">

            <div>
                <h2 class="step_title"><%=t :one_tab_cont_title %></h2><br>
                <h2 class="step_subtitle"><%=t :one_tab_cont_desc %></h2><br>
                <a  href="#" class="sign-up-btn" data-toggle="modal" data-target="#modalLoginForm"><img src="/sign_up_button_steps.png" class="sign_up_btn"></a>
            </div>

            <div class="col-6">
                <img src="/imac.png" class="pc_2_img">
            </div>
        </div>

    </div>
    <div id="tab-2" class="tab-content"style="width: 1400px;margin-left: -100px;margin-top: 80px;">
        <div class="row">

            <div>
                <h2 class="step_title"><%=t :two_tab_cont_title %></h2><br>
                <h2 class="step_subtitle"><%=t :two_tab_cont_desc %></h2><br>
                <% if session[:user_id] %>
          
                 <a  href="#" onclick="myFunction2()"><img class="value-btn" src="/value_car_first_button.png"></a>
                <% else %>

             <a  href="#" class="" data-toggle="modal" data-target="#modalLoginForm"><img class="value-btn" src="/value_car_first_button.png"></a>
                <% end %>
            </div>


            <div class="col-6">
                <img src="/car_new_tab.png" class="car_img" >
            </div>

        </div>

    </div>
       <div id="tab-3" class="tab-content"style="width: 1400px;margin-left: -100px;margin-top: 80px;">
    <div class="row">

            <div>
                <h2 class="step_title"><%=t :three_tab_cont_title %></h2><br>
                <h2 class="step_subtitle"><%=t :three_tab_cont_desc %></h2><br>

                 <% if session[:user_id] %>
                 <a  href="#" class="" onclick="myFunction2()"><img class="value-btn" src="/value_car_first_button.png"></a>
                <% else %>
              
             <a  href="#" class="" data-toggle="modal" data-target="#modalLoginForm"><img class="value-btn" src="/value_car_first_button.png"></a>
                <% end %>
            </div>


            <div class="col-6">
                <img src="/imac2.png" class="pc_img" >
            </div>

        </div>

    </div>
    
<script>
function myFunction2() {
    window.location.replace("/valuations/new");
}
</script>
</div><!-- container -->
        </section>

          
        <section class="about-section">
            <div class="container">
              <div class="title-section" >
                    <h1 style="margin-top: ;font-family: 'Helvetica Neue';font-size: 35px;font-weight: 700;line-height: 54px;font-family: Arial;font-weight: 700;"><%=t :What_Our_Clients_Say_? %></h1>
                     <img src="/divider_footer.png">
                </div>
                <div class="about-box">
                    <div class="row">

                        <div class="col-lg-6">
                        <div class="video-popup" style="margin-right: 40px;">
                                <img src="/office.png" alt="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                                <div class="about-post" align="center" style="margin-left: 40px;">
                                    <style type="text/css">
                                        .nameceo_class{
                                            width: 350px;
                                            height: 52px;
                                            color: #4a4a4a;
                                            font-family: "Helvetica Neue";
                                            font-size: 26px;
                                            font-weight: 700;
                                            letter-spacing: 15.03px;
                                            line-height: 52px;
                                            /* Text style for "Adham Amr" */
                                            font-family: Arial;
                                            text-transform: none;
                                            font-weight: 500;
                                        }
                                    </style>
                                    <h3 class="nameceo_class"><%=t :title_ceo %></h3>
                                    <style type="text/css">
                                        .ceo_class{
                                          width: 222px;
                                          height: 28px;
                                          color: #00357a;
                                          font-family: "Helvetica Neue";
                                          font-size: 24px;
                                          font-weight: 700;
                                          letter-spacing: 1.54px;
                                          line-height: 8px;
                                          text-transform: uppercase;
                                          /* Text style for "CEO & FOUN" */
                                          font-family: Arial;
                                          font-weight: 700;
                                          margin-top: 30px;
                                        }
                                    </style>
                                    <h5 class="ceo_class"><%=t :position_ceo %></h5>
                                <p style="text-align: justify;width: 566px;height: 110px;color: #ababab;font-family: 'Helvetica Neue';font-size: 20px;font-weight: 300;line-height: 38px;"><%=t :desc_ceo %></p>
            
                            </div>
                            
                        </div>

                    </div>
                </div>
            

            </div>
        </section>


    <section class="testimonial-section" style="background: #fff url(../upload/banners/ban2.jpg) center center no-repeat;">
            <div class="container">
                <div class="title-section">
                 <h1 style="margin-top: 122px;font-family: 'Helvetica Neue';font-size: 35px;font-weight: 700;line-height: 54px;font-family: Arial;font-weight: 700; margin-top: -200px;"><%=t :Partners %></h1>
                    <img src="/divider_footer.png">
                </div>
                <div class="testimonial-box owl-wrapper">
                    <div class="owl-carousel" data-num="<%= @partners.count %>">
                      <% @partners.each do |partner| %>
                        <div class="item">
                                <img src="<%= partner.logo %>" style="height:100px;" alt="">
                        </div>
                    
              <% end %>   
                    </div>
                </div>
            </div>
        </section>

