
<style type="text/css">
  .value_button{


    max-width: 376px;
    min-width: 280px;
height: 75px;
background-color: #ff8409;


border: 1px solid #ffffff;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 18px;
font-weight: 600;

letter-spacing: 4.57px;
line-height: 8px;
text-transform: uppercase;
/* Text style for "VALUE YOUR" */

font-weight: 400;

}
</style>
<% if session[:user_id] %>

<style type="text/css">
.value_button{


    max-width: 376px;
    min-width: 280px;
height: 75px;
background-color: #ff8409;


border: 1px solid #ffffff;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 18px;
font-weight: 600;

letter-spacing: 4.57px;
line-height: 8px;
text-transform: uppercase;
/* Text style for "VALUE YOUR" */

font-weight: 400;

}
    .email-tel-user{



color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 19px;
font-weight: 300;
letter-spacing: 2.62px;
line-height: 11px;
/* Text style for "ehabfcih94" */
margin-top: 20px;
font-weight: 300;
    }

    .name_user{
        color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 22px;
font-weight: 700;
letter-spacing: 3.04px;
line-height: 11px;
/* Text style for "Ehab Moham" */
font-family: "Segoe UI";
font-weight: 700;
    }

</style>
<section class="tabs-section" style="margin-top: -80px">
     <%= render 'layouts/header_profile' %>
      <br><br><br><br> <div class="container" >
                 <div class="tab-content" id="myTabContent" style="background-color: #f3f3f3" >
                        <div class="tab-pane fade active show" id="ser-1" role="tabpanel" aria-labelledby="ser-1-tab">
                        
       <% @valuations = Valuation.where("user_id =?",session[:user_id]) %>

                                    <div class="row">
                                      <% if @valuations.count != 0 %>
                                         <% @valuations.each do |valuation| %>
                                        <div class="col-3" align="center" style="background-color: #fff;border-radius: 4px;margin-left: 20px;margin-top:20px;">
                                          <% if Brand.find_by_name(valuation.brand) %>
                                          <img src="<%= Brand.find_by_name(valuation.brand).picture.url %>" style="width: 200px; margin-top: 20px;" alt="">
                                          <%else %>
                                          <img src="http://wiki.tripwireinteractive.com/images/4/47/Placeholder.png" style="width: 200px; margin-top: 20px;" alt="">

                                          <% end %>
                                            <br><br>
                                             <h2 style="color: #4a4a4a;font-family: 'Helvetica Neue';font-size: 13px;font-weight: 500;letter-spacing: 1.79px;line-height: 8px;font-family: 'Segoe UI';font-weight: 400;"><%= Brand.find(valuation.brand).name %> - <%= CarModel.find(valuation.model_car).name %><br><br><br><%= valuation.created_at.strftime("%m/%d/%Y") %></h2>
                                                    <span><a href="/valuations/<%= valuation.id %>" style="color: #4a4a4a;font-family: 'Helvetica Neue';font-size: 9px;
font-weight: 700;letter-spacing: 1.24px;line-height: 8px;text-transform: uppercase;font-family: 'Segoe UI';font-weight: 700;">SEE DETAILS</a></span>
                                     <br><br>
                                        </div>

                                          <% end %>
                                            <div class="col-3" id="add_new_valuation" align="center" style="background-color: #fff;border-radius: 4px;margin-left: 20px;margin-top:20px;">

                                            <img src="/add_valuation.png" style="margin-top: 70px;" alt=""><br><br>
                                             <h2 style="color: #4a4a4a;font-family: 'Helvetica Neue';font-size: 13px;font-weight: 500;letter-spacing: 1.79px;line-height: 8px;font-family: 'Segoe UI';font-weight: 400;">Add New Evaluation</h2>
                                          
                                     <br><br>
                                        </div>
                                        <% else %>

                                       <div class="col-3" align="center"  id="add_new_valuation"  style="background-color: #fff;border-radius: 4px;margin-left: 20px;">

                                            <img src="/add_valuation.png" style="margin-top: 70px;" alt=""><br><br>
                                             <h2 style="color: #4a4a4a;font-family: 'Helvetica Neue';font-size: 13px;font-weight: 500;letter-spacing: 1.79px;line-height: 8px;font-family: 'Segoe UI';font-weight: 400;">Add New Evaluation</h2>
                                          
                                     <br><br>
                                        </div>

                                        <% end %>

                                     </div>
                      
              

                        </div>
               
                        <style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 300px;
}



input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #00357a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #00357a;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #00357a;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00357a;
}
.inputGroup {

  }


.first_div{

  color: #ffffff;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Damaged" */
text-align: center;
vertical-align: middle;
line-height: 74px;
font-weight: 700;
  background-color: #ff8409;
  border-radius: 4px;
  height: 74px;
}
.form_label{
  color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Engine Con" */
font-weight: 700;
}


.special_selec{
    color: #ffffff;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Damaged" */
text-align: center;
vertical-align: middle;
line-height: 74px;
font-weight: 700;
  background-color: #ff8409;
  border-radius: 4px;
  height: 74px;
}



</style>
                        







                         
                    </div>

</div>



        </section>

        <% else %>
        <div align="center" style="margin-top: -700px;">
 <button class="value_button" data-toggle="modal" data-target="#modalLoginForm" style="margin-top: 35%;">PLEASE SIGN IN</button>
</div><br><br><br>
        <% end %>