                        <style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 300px;
}



input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #00357a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #00357a;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #00357a;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #00357a;
}
.inputGroup {

  }


.first_div{

  color: #ffffff;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Damaged" */
text-align: center;
vertical-align: middle;
line-height: 74px;
font-weight: 700;
  background-color: #ff8409;
  border-radius: 4px;
  height: 74px;
}
.form_label{
  color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Engine Con" */
font-weight: 700;
}


.special_selec{
    color: #ffffff;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Damaged" */
text-align: center;
vertical-align: middle;
line-height: 74px;
font-weight: 700;
  background-color: #ff8409;
  border-radius: 4px;
  height: 74px;
}



</style>
<style type="text/css">
  .value_button{


    max-width: 376px;
    min-width: 280px;
height: 75px;
background-color: #ff8409;


border: 1px solid #ffffff;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 18px;
font-weight: 600;

letter-spacing: 4.57px;
line-height: 8px;
text-transform: uppercase;
/* Text style for "VALUE YOUR" */

font-weight: 400;

}
</style>
<% if session[:user_id] %>

<style type="text/css">
.value_button{


    max-width: 376px;
    min-width: 280px;
height: 75px;
background-color: #ff8409;


border: 1px solid #ffffff;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 18px;
font-weight: 600;

letter-spacing: 4.57px;
line-height: 8px;
text-transform: uppercase;
/* Text style for "VALUE YOUR" */

font-weight: 400;

}
    .email-tel-user{



color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 19px;
font-weight: 300;
letter-spacing: 2.62px;
line-height: 11px;
/* Text style for "ehabfcih94" */
margin-top: 20px;
font-weight: 300;
    }

    .name_user{
        color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 22px;
font-weight: 700;
letter-spacing: 3.04px;
line-height: 11px;
/* Text style for "Ehab Moham" */
font-family: "Segoe UI";
font-weight: 700;
    }

</style>
<section class="tabs-section" style="margin-top: -80px">
     <%= render 'layouts/header_profile' %>
      <br><br><br><br> <div class="container" >
                 <div class="tab-content" id="myTabContent" style="background-color: #f3f3f3" >
                        <div class="tab-pane fade active show" id="ser-1" role="tabpanel" aria-labelledby="ser-1-tab">
                        
                                
<form id="regForm" action="/update_user_info" method="get" style="margin-top: -40px;">

<input type="hidden" name="user_id" class="form-control" value="<%= session[:user_id] %>">
  <!-- One "tab" for each step in the form: -->
  <div class="tab">
<div class="inputGroup">

    

    <div class="row">
        <div class="col-6">
            <label for="option1" class="form_label">

              <div class="row">
      
    
        <div class="col-4" >
                          <div style="width: 164px;
height: 31px;
opacity: 0.74;
color: #b5b5b5;
font-family: 'Helvetica Neue';
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;

font-family: Arial;
font-weight: 700;">
          Name 
        </div>
        </div>


        <div class="col-8">
             
           <div style="width: 39px;height: 1px;border: 1px solid #ff8409;margin-left:-14px;margin-top:17px;"></div>
        </div>


      </div>


            </label>
            <input type="text"  name="name" placeholder="Your Name " value="<%= User.find(session[:user_id]).name %>" class="form-control" style="width: 439px;
height: 74px;border-radius: 8px;background-color: #f6f6f6;color: #4a4a4a;font-family: 'Helvetica Neue';font-size: 14px;font-weight: 700;letter-spacing: 0.7px;line-height: 26px;font-family: Arial;font-weight: 700;" >


        </div>
        <div class="col-6">
             <label for="option1" class="form_label">

              <div class="row">
      
    
        <div class="col-4" >
                          <div style="width: 164px;
height: 31px;
opacity: 0.74;
color: #b5b5b5;
font-family: 'Helvetica Neue';
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;

font-family: Arial;
font-weight: 700;">
          Email 
        </div>
        </div>


        <div class="col-8">
             
           <div style="width: 39px;height: 1px;border: 1px solid #ff8409;margin-left:-15px;margin-top:17px;"></div>
        </div>


      </div>


            </label>
          <input type="text" name="email"  placeholder="Your Email " value="<%= User.find(session[:user_id]).email %>" class="form-control" style="width: 439px;
height: 74px;border-radius: 8px;background-color: #f6f6f6;color: #4a4a4a;font-family: 'Helvetica Neue';font-size: 14px;font-weight: 700;letter-spacing: 0.7px;line-height: 26px;font-family: Arial;font-weight: 700;" >
        </div>
      
    </div>

<br><br>

 <div class="row">
        <div class="col-12">
             <label for="option1" class="form_label">

              <div class="row">
      
    
        <div class="col-4" >
                          <div style="width: 164px;
height: 31px;
opacity: 0.74;
color: #b5b5b5;
font-family: 'Helvetica Neue';
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;

font-family: Arial;
font-weight: 700;">
          Phone 
        </div>
        </div>


        <div class="col-8">
             
           <div style="width: 39px;height: 1px;border: 1px solid #ff8409;margin-left:-10px;margin-top:17px;"></div>
        </div>


      </div>


            </label>
            <input type="text" name="phone" placeholder="Phone Number " value="<%= User.find(session[:user_id]).phone %>" class="form-control" style="width: 968px;
height: 74px;border-radius: 8px;background-color: #f6f6f6;color: #4a4a4a;font-family: 'Helvetica Neue';font-size: 14px;font-weight: 700;letter-spacing: 0.7px;line-height: 26px;font-family: Arial;font-weight: 700;" >


        </div>
      
      
    </div>

<br><br>
 <div class="row">
        <div class="col-6">
             <label for="option1" class="form_label">

              <div class="row">
      
    
        <div class="col-4" >
                       <div style="width: 164px;
height: 31px;
opacity: 0.74;
color: #b5b5b5;
font-family: 'Helvetica Neue';
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;

font-family: Arial;
font-weight: 700;">   
          Password 
        </div>
        </div>


        <div class="col-8">
             
           <div style="width: 39px;height: 1px;border: 1px solid #ff8409;margin-left:10px;margin-top:17px;"></div>
        </div>


      </div>


            </label>
            <input type="password" name="password" placeholder="Password "  class="form-control" required style="width: 439px;
height: 74px;border-radius: 8px;background-color: #f6f6f6;color: #4a4a4a;font-family: 'Helvetica Neue';font-size: 14px;font-weight: 700;letter-spacing: 0.7px;line-height: 26px;font-family: Arial;font-weight: 700;">


        </div>
        <div class="col-6">
             <label for="option1" class="form_label">

              <div class="row">
      
    
        <div class="col-10" >
             <div style="width: 164px;
height: 31px;
opacity: 0.74;
color: #b5b5b5;
font-family: 'Helvetica Neue';
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;

font-family: Arial;
font-weight: 700;">
          Confirm Password 
        </div>
        </div>


        <div class="col-2">
             
           <div style="width: 39px;height: 1px;border: 1px solid #ff8409;margin-left:-20px;margin-top:17px;"></div>
        </div>


      </div>


            </label>
          <input type="password"  name="password_confirmation" placeholder="Password Confirmation"  class="form-control" required style="width: 439px;
height: 74px;border-radius: 8px;background-color: #f6f6f6;color: #4a4a4a;font-family: 'Helvetica Neue';font-size: 14px;font-weight: 700;letter-spacing: 0.7px;line-height: 26px;font-family: Arial;font-weight: 700;">
        </div>
      
    </div>






  </div>
  </div>
 
  

<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
 document.getElementById("regForm").submit();
  // Otherwise, display the correct tab:
 
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>

  <div style="overflow:auto;">
    <div style="float:left;">
  <br><br>



  <a  href="#" class="" id="nextBtn" onclick="nextPrev(1)" style="margin-top:20%;margin-right:0%"><img src="/save_info_profile.png"></a>
   
    </div>
  </div>

</form>

                        </div>
               

                      







                                       <div class="tab-pane fade" id="ser-3" role="tabpanel" aria-labelledby="ser-3-tab">
                              
<form id="regForm" action="" method="get" style="margin-top: -40px;">


  <!-- One "tab" for each step in the form: -->
  <div class="tab">
<div class="inputGroup">

    

    <div class="row">
     
            <label for="option1" class="form_label">

              <div class="row">
      
    
        <div class="col-4" >
                          <div style="width: 164px;
height: 31px;
opacity: 0.74;
color: #b5b5b5;
font-family: 'Helvetica Neue';
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;

font-family: Arial;
font-weight: 700;">
          Messages 
        </div>
        </div>


        <div class="col-8">
             
           <div style="width: 39px;height: 1px;border: 1px solid #ff8409;margin-left:-14px;margin-top:17px;"></div>
        </div>


      </div>


            </label>
     
     

      
    </div>



  </div>
  </div>
 
  


  <div style="overflow:auto;">
    <div style="float:left;">
  <br><br>



  <a  href="#" class="" style="margin-top:20%;margin-right:0%"><img src="/send_message_profile.png"></a>
   
    </div>
  </div>

</form>
                        </div>








                         
                    </div>

</div>



        </section>

        <% else %>
        <div align="center" style="margin-top: -700px;">
 <button class="value_button" data-toggle="modal" data-target="#modalLoginForm" style="margin-top: 35%;">PLEASE SIGN IN</button>
</div><br><br><br>
        <% end %>