
<br>

<button onclick="goHome()" style="width: 254px;height: 65px;background-color: #0f5dc3;border-radius: 4px;margin-left: 382px"><div style="width: 128px;height: 31px;color: #ffffff;font-family: 'Helvetica Neue';font-size: 17px;font-weight: 700;letter-spacing: 0.85px;line-height: 31px;font-family: Arial;font-weight: 700; margin-left:40px;">Go Back</div></button><br><br>



             <script>
function goHome() {
    window.location.replace("/profile");
}


</script>
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 90%;
  min-width: 300px;
}



input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.inputGroup {

  }


.first_div{

  color: #ffffff;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Damaged" */
text-align: center;
vertical-align: middle;
line-height: 74px;
font-weight: 700;
  background-color: #ff8409;
  border-radius: 4px;
  height: 74px;
}
.form_label{
  color: #4a4a4a;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Engine Con" */
font-weight: 700;
}


.special_selec{
    color: #ffffff;
font-family: "Helvetica Neue";
font-size: 17px;
font-weight: 700;
letter-spacing: 0.85px;
line-height: 31px;
/* Text style for "Damaged" */
text-align: center;
vertical-align: middle;
line-height: 74px;
font-weight: 700;
  background-color: #ff8409;
  border-radius: 4px;
  height: 74px;
}
.value_button{


    max-width: 376px;
    min-width: 280px;
height: 75px;
background-color: #ff8409;


border: 1px solid #ffffff;
color: #ffffff;
font-family: "Helvetica Neue";
font-size: 18px;
font-weight: 600;

letter-spacing: 4.57px;
line-height: 8px;
text-transform: uppercase;
/* Text style for "VALUE YOUR" */

font-weight: 400;

}


</style>
<% @valuation = Valuation.find(params[:id]) %>
 
<div class="container">
         
                          <div class="row">
         

                            <div class="col-12" style="width: 1200px;height: 387px;background-color: #00357a;" align="center">
                              <h2 style="margin-top:59px;width: 454px;height: 72px;color: #ffffff;font-family: 'Helvetica Neue';font-size: 28px;font-weight: 700;letter-spacing: 2.58px;line-height: 41px;font-family: Arial;font-weight: 700;">Arabeety valuation Based on
User Report</h2>

<h2 style=" margin-top:56px;width: 407px;height: 81px;color: #ffffff;font-family: 'Helvetica Neue';font-size: 72px;font-weight: 700;letter-spacing: 6.62px;line-height: 31px;font-family: Arial;font-weight: 700;"><%= number_with_precision((@valuation.final_price.to_i  + 50) / 1000 * 1000, :precision => 0, :delimiter => ',') %></h2>

<h2 style="width: 58px;height: 28px;color: #ffffff;font-family: 'Helvetica Neue';font-size: 24px;font-weight: 700;letter-spacing: 2.21px;line-height: 10px;text-transform: uppercase;font-family: Arial;font-weight: 700;">EGP</h2>

<div style="width: 994px;height: 1px;border: 4px solid #ffffff;"></div>
                            </div>


  



  <div class="col-12" style="width: 1200px;background-color: #fff;">

<br><br>


  
<br><br>

 <div class="row">

        <div class="col-4">
  <label for="option1" class="form_label" style="margin-top: 20px;margin-left: 2px" align="left">

                  <div class="row">
      
    
        <div class="col-6" style="font-family: 'Open Sans';width: 320px">
             
        Brand
        </div>


        <div class="col-6">
             
           <div style="width: 39px;height: 1px;border: 1px solid #00357a;margin-left: -100px;margin-top:15px;"></div>
        </div>


      </div>
             </label>
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;"><% if @valuation.brand %><%= Brand.find(@valuation.brand).name %><% end %></div>
        </div>

         <div class="col-4">

            <label for="option1" class="form_label" style="margin-top: 20px;margin-left: 2px" align="left">

                  <div class="row">
      
    
        <div class="col-6" style="font-family: 'Open Sans';width: 320px">
             
        Model
        </div>


        <div class="col-6">
             
           <div style="width: 39px;height: 1px;border: 1px solid #00357a;margin-left: -100px;margin-top:15px;"></div>
        </div>


      </div>
             </label>
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;"><% if @valuation.model_car %><%= CarModel.find(@valuation.model_car).name %><% end %></div>
        </div>



        <div class="col-4">
            <label for="option1" class="form_label" style="margin-top: 20px;margin-left: 2px" align="left">

                  <div class="row">
      
    
        <div class="col-6" style="font-family: 'Open Sans';width: 320px">
             
        KM
        </div>


        <div class="col-6">
             
           <div style="width: 39px;height: 1px;border: 1px solid #00357a;margin-left: -120px;margin-top:15px;"></div>
        </div>


      </div>
             </label>
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;"><% if @valuation.kilometers %><%= Millage.find(@valuation.kilometers).range %><% end %> KM </div>
        </div>






    </div>





    <br><br>


     <div class="row">

        <div class="col-4">
  <label for="option1" class="form_label" style="margin-top: 20px;margin-left: 2px" align="left">

                  <div class="row">
      
    
        <div class="col-6" style="font-family: 'Open Sans';width: 320px">
             
        Year
        </div>


        <div class="col-6">
             
           <div style="width: 39px;height: 1px;border: 1px solid #00357a;margin-left: -100px;margin-top:15px;"></div>
        </div>


      </div>
             </label>
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;"><% if @valuation.year_car %><%= Year.find(@valuation.year_car).date %><% end %></div>
        </div>

   
   <div class="col-1">  
<div  style="margin-top: 50px">Condition</div>
</div>
<div class="col-1">  
<img src="/vertical_line.png" style="margin-top: 30px;margin-left: 0px;">
</div>

       <div class="col-6">  


        <div class="row" style="margin-top: 50px;margin-left: -80px;">
          
               <div class="col-2">  
                <div style="margin-left: 6px;">Risky</div>

              <% if @valuation.final_condition == "risky" %>
                <img src="/risky_s.png" style="margin-top: 5px;">
              <% else %>
                <img src="/risky.png" style="margin-top: 5px;">

                <% end %>
              </div>


           <div class="col-2">  
                <div style="margin-left: 6px;">V.Bad</div>
                 <% if @valuation.final_condition == "verybad" %>
                  <img src="/verybad_s.png" style="margin-top: 5px;">
                <% else %>
                  <img src="/verybad.png" style="margin-top: 5px;">

                <% end %>
              </div>



               <div class="col-2">  
                <div style="margin-left: 10px;">Bad</div>
                <% if @valuation.final_condition == "bad" %>
              <img src="/bad_s.png" style="margin-top: 5px;">
                 <% else %>
               <img src="/bad.png" style="margin-top: 5px;">

                <% end %>
              </div>

             <div class="col-2">  
                <div style="margin-left: 0px;">Average</div>
                <% if @valuation.final_condition == "average" %>
                <img src="/average_s.png" style="margin-top: 5px;">
                <% else %>
               <img src="/average.png" style="margin-top: 5px;">

                <% end %>
              </div>


           <div class="col-2">  
                <div style="margin-left: 0px;">V.Good</div>
                <% if @valuation.final_condition == "verygood" %>

                 <img src="/verygood_s.png" style="margin-top: 5px;">
                <% else %>
                  <img src="/verygood.png" style="margin-top: 5px;">

                <% end %>
               
              </div>


          <div class="col-2">  
             <div style="margin-left: -2px;">Excellent</div>
            <% if @valuation.final_condition == "excellent" %>

            <img src="/excellent_s.png" style="margin-top: 5px;">
            <% else %>

            <img src="/excellent.png" style="margin-top: 5px;">
            <% end %>
               

              </div>



        </div>
</div>



    </div>





<div align="center" style="margin-top:80px;"><img src="/line_acc.png"></div>

<br><br>


    <label for="option1" class="form_label" style="margin-top: 20px;margin-left: 2px" align="left">

                  <div class="row">
      
    
        <div class="col-6" style="font-family: 'Open Sans';width: 320px">
             
        Engine Condition
        </div>


        <div class="col-6">
             
           <div style="width: 39px;height: 1px;border: 1px solid #00357a;margin-left: 10px;margin-top:15px;"></div>
        </div>


      </div>
             </label>
<br><br>

 <div class="row">

  <% if @valuation.engine_problem != "yes" %>

    <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;">Good<img id="" src="/checked.png" style="margin-left:20px;"></div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Repaired</div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Changed</div>
        </div>


   <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';">Damaged</div>
        </div>

  <% end %>




  <% if @valuation.engine_problem == "yes" && @valuation.engine_condition == "repaired" %>

    <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Good</div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;">Repaired<img id="" src="/checked.png" style="margin-left:20px;"></div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Changed</div>
        </div>


   <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';">Damaged</div>
        </div>

  <% end %>





  <% if @valuation.engine_problem == "yes" && @valuation.engine_condition == "changed" %>

    <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Good</div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Repaired</div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;">Changed<img id="" src="/checked.png" style="margin-left:20px;"></div>
        </div>


   <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';">Damaged</div>
        </div>

  <% end %>

      


        <% if @valuation.engine_problem == "yes" && @valuation.engine_condition == "damaged" %>

    <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Good</div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Repaired</div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Changed</div>
        </div>


   <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';background-color:#00357a;">Damaged<img id="" src="/checked.png" style="margin-left:20px;"></div>
        </div>

  <% end %>

      




    </div>
<% @acc_j_count = 0 %>

<% @paint_j_count = 0 %>



  <% if @valuation.paint_lights_left_front %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>

   <% if @valuation.paint_lights_hood %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>


     <% if @valuation.paint_lights_right_front %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>


      <% if @valuation.paint_second_left_side %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>



      <% if @valuation.paint_second_side %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>



      <% if @valuation.paint_third_side %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>



      <% if @valuation.paint_third_left_side %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>



      <% if @valuation.paint_second_top %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>



      <% if @valuation.paint_left_back %>
<% @paint_j_count = @paint_j_count + 1 %> 
  <% end %>



      <% if @valuation.paint_middle_back %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>



      <% if @valuation.paint_right_back %>
<% @paint_j_count = @paint_j_count + 1 %>
  <% end %>









<!-- ACCDENT -->


   <% if @valuation.accident_second_top != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>

   <% if @valuation.accident_third_left_side != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>


     <% if @valuation.accident_left_back != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>


      <% if @valuation.accident_middle_back != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>



      <% if @valuation.accident_right_back != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>



      <% if @valuation.accident_third_side != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>



      <% if @valuation.accident_second_left_side != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>



      <% if @valuation.accident_second_side != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>



      <% if @valuation.accident_lights_right_front != "" %>
<% @acc_j_count = @acc_j_count + 1 %> 
  <% end %>



      <% if @valuation.accident_lights_hood != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>



      <% if @valuation.accident_lights_left_front != "" %>
<% @acc_j_count = @acc_j_count + 1 %>
  <% end %>


<br><br>


    <label for="option1" class="form_label" style="margin-top: 20px;margin-left: 2px" align="left">

                  <div class="row">
      
    
        <div class="col-6" style="font-family: 'Open Sans';width: 320px">
             
        Paint Job
        </div>


        <div class="col-6">
             
           <div style="width: 39px;height: 1px;border: 1px solid #00357a;margin-left: 10px;margin-top:15px;"></div>
        </div>


      </div>
             </label>
<br><br>

 <div class="row">



<% if @paint_j_count == 0 %>


<div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;">None<img id="" src="/checked.png" style="margin-left:20px;"></div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">One Part</div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Two Parts</div>
        </div>


        <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';">More than two</div>
        </div>

<%end%>

<% if @paint_j_count == 1 %>

<div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">None</div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;">One Part<img id="" src="/checked.png" style="margin-left:20px;"></div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Two Parts</div>
        </div>


        <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';">More than two></div>
        </div>



<%end%>


<% if @paint_j_count == 2 %>

<div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">None</div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">One Part</div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;">Two Parts<img id="yes_engine_problem_check" src="/checked.png" style="margin-left:20px;"></div>
        </div>


        <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';">More than two</div>
        </div>

<%end%>


<% if @paint_j_count > 2 %>

<div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">None</div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">One Part</div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Two Parts</div>
        </div>


        <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';background-color:#00357a;">More than two<img id="yes_engine_problem_check" src="/checked.png" style="margin-left:20px;"></div>
        </div>
<%end%>
        




    </div>




<br><br>


    <label for="option1" class="form_label" style="margin-top: 20px;margin-left: 2px" align="left">

                  <div class="row">
      
    
        <div class="col-6" style="font-family: 'Open Sans';width: 320px">
             
        Accidents
        </div>


        <div class="col-6">
             
           <div style="width: 39px;height: 1px;border: 1px solid #00357a;margin-left: 10px;margin-top:15px;"></div>
        </div>


      </div>
             </label>
<br><br>

 <div class="row">


<% if @acc_j_count == 0 %>


<div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;">None<img id="" src="/checked.png" style="margin-left:20px;"></div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">One Part</div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Two Parts</div>
        </div>


        <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';">More than two</div>
        </div>

<%end%>

<% if @acc_j_count == 1 %>

<div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">None</div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;">One Part<img id="" src="/checked.png" style="margin-left:20px;"></div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Two Parts</div>
        </div>


        <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';">More than two></div>
        </div>



<%end%>


<% if @acc_j_count == 2 %>

<div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">None</div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">One Part</div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';background-color:#00357a;">Two Parts<img id="yes_engine_problem_check" src="/checked.png" style="margin-left:20px;"></div>
        </div>


        <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';">More than two</div>
        </div>

<%end%>


<% if @acc_j_count > 2 %>

<div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">None</div>
        </div>

         <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">One Part</div>
        </div>



        <div class="col-3">
          <div class="first_div"  style="font-family: 'Open Sans';">Two Parts</div>
        </div>


        <div class="col-3">
          <div class="first_div" style="font-family: 'Open Sans';background-color:#00357a;">More than two<img id="yes_engine_problem_check" src="/checked.png" style="margin-left:20px;"></div>
        </div>
<%end%>
        






    </div>

             

<!--  <%= @valuation.final_condition %> -->




<style type="text/css">
  ul .painted  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

li .painted {
  float: left;
   display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}


</style>


<br>


   <div align="center">

<% @val =  @valuation %>
    <div class=""  style="" align="center" style="border:0px solid rgba(0,0,0,.2);;">
      <br>
<div align="center" style="margin-top:20px;"><img src="/line_acc.png"></div>

<% if @val.accident_lights_left_front != "" ||  @val.accident_second_top != "" ||  @val.accident_lights_hood != "" %>


    <div>
        <img src="/car_front.png" style=" z-index: 1;">
      
      </div>
      
      <div class="row">







<% if @val.accident_lights_left_front != "" %>

 <div class="col-3"><img src="/selectable_circle.png" id="" style=" z-index: 2;vertical-align: center;margin-top: -360px;margin-left:340px"></div>
<% else %>
 <div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;vertical-align: center;margin-top: -360px;margin-left:340px"></div>

<% end %>


<% if @val.accident_second_top != "" %>

  <div class="col-3"><img src="/selectable_circle.png" id="" style=" z-index: 2;vertical-align: center;margin-top: -800px;margin-left:240px"></div>
<% else %>
  <div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;vertical-align: center;margin-top: -800px;margin-left:240px"></div>
<% end %>


<% if @val.accident_lights_hood != "" %>

   <div class="col-3"><img src="/selectable_circle.png"  id="" style=" z-index: 2;vertical-align: center;margin-top: -510px;margin-left: -300px;"></div>
<% else %>
 <div class="col-3"><img src="/selectable_blank.png"  id="" style=" z-index: 2;vertical-align: center;margin-top: -510px;margin-left: -300px;"></div>
<% end %>



<% if @val.accident_lights_right_front != "" %>

     <div class="col-3"><img src="/selectable_circle.png"  id="" style=" z-index: 2;vertical-align: center;margin-top: -364px;margin-left: -490px;"></div>
<% else %>
   <div class="col-3"><img src="/selectable_blank.png"  id="" style=" z-index: 2;vertical-align: center;margin-top: -364px;margin-left: -490px;"></div>
<% end %>


           
      
       
     


      </div>
   <% end %>     
        
        
      

<% if @val.accident_second_side != "" ||  @val.accident_third_side != "" %>
         <div>
        <h2 class="title_modal" style="z-index: 90;">Right side:</h2>
        <img src="/car_side.png" style="margin-top: -10px;">
      </div>

        <div class="row"> 


<% @val =  @valuation %>

<div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -420px;margin-left:240px;"></div>

<% if @val.accident_second_side != "" %>

   <div class="col-3"><img src="/selectable_circle.png" id="" style=" z-index: 2;margin-top: -390px;margin-left:100px;"></div>
<% else %>
   <div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -390px;margin-left:100px;"></div>
<% end %>


<% if @val.accident_third_side != "" %>

 <div class="col-3"><img src="/selectable_circle.png" id="" style=" z-index: 2;margin-top: -390px;margin-left:-40px;"></div>
<% else %>
    <div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -390px;margin-left:-40px;"></div>
<% end %>


         <div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -440px;margin-left:-280px;"></div>
   


    

      </div>

<% end %>




<% if @val.accident_second_left_side != "" ||  @val.accident_third_left_side != "" %>
         <div>
        <h2 class="title_modal">Left Side:</h2>
      <img src="/car_side.png" style="margin-top: -10px;">
      </div>
      <div class="row">


        

<% @val = Valuation.find(params[:id]) %>
<div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -420px;margin-left:240px;"></div>
<% if @val.accident_second_left_side != "" %>

        <div class="col-3"><img src="/selectable_circle.png" id="" style=" z-index: 2;margin-top: -390px;margin-left:100px;"></div>
<% else %>
           <div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -390px;margin-left:100px;"></div>
<% end %>



<% if @val.accident_third_left_side != "" %>

        <div class="col-3"><img src="/selectable_circle.png" id="" style=" z-index: 2;margin-top: -390px;margin-left:-40px;"></div>
<% else %>
            <div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -390px;margin-left:-40px;"></div>
<% end %>

 <div class="col-3"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -440px;margin-left:-280px;"></div>



      </div>


      <% end %>



<% if @val.accident_left_back != "" ||  @val.accident_middle_back != "" || @val.accident_right_back != "" %>

         <div>
        <img src="/car_back.png">
      </div>
      <div class="row">


<% @val =  Valuation.find(params[:id]) %>


<% if @val.accident_left_back != "" %>

    <div class="col-4"><img src="/selectable_circle.png" id="" style=" z-index: 2;margin-top: -300px;margin-left: 330px;"></div>
<% else %>
           <div class="col-4"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -300px;margin-left: 330px;"></div>
<% end %>



<% if @val.accident_middle_back != "" %>

 <div class="col-4"><img src="/selectable_circle.png" id=""  style=" z-index: 2;margin-top: -470px;margin-left: -30px"></div>
<% else %>
          <div class="col-4"><img src="/selectable_blank.png" id=""  style=" z-index: 2;margin-top: -470px;margin-left: -30px"></div>
<% end %>



<% if @val.accident_right_back != "" %>

   <div class="col-4"><img src="/selectable_circle.png" id="" style=" z-index: 2;margin-top: -300px;;margin-left:-390px;"></div>

<% else %>
            <div class="col-4"><img src="/selectable_blank.png" id="" style=" z-index: 2;margin-top: -300px;;margin-left:-390px;"></div>

<% end %>






      
      </div>

<% end %>

      <br><br>

      <div style="margin-top: 80px;width: 351px;height: 173px;background-color: #00357a;">
        
<br>
        <div style="width: 63px;height: 41px;color: #ffffff;font-family: 'Helvetica Neue';font-size: 22px;font-weight: 700;letter-spacing: 1.1px;line-height: 41px;font-family: Arial;font-weight: 700;margin-top: -5px;margin-left: 20px">Value</div>

        <div style="margin-top:20px;width: 192px;height: 51px;color: #ffffff;font-family: 'Helvetica Neue';font-size: 45px;font-weight: 700;letter-spacing: 4.14px;line-height: 19px;font-family: Arial;font-weight: 700;margin-left: 20px"><%= number_with_precision((@valuation.final_price.to_i  + 50) / 1000 * 1000, :precision => 0, :delimiter => ',') %></div>

        <div style="margin-top:10px;width: 36px;height: 18px;color: #ffffff;font-family: 'Helvetica Neue';font-size: 15px;font-weight: 700;letter-spacing: 1.38px;line-height: 6px;
text-transform: uppercase;font-family: Arial;font-weight: 700;margin-left: 20px">EGP</div>
<img src="/result_triangle.png" style="margin-top: -30px;margin-left: 250px;">



      </div>
<img src="/progress_limits.png" style="margin-left: 100px;margin-top: 30px;width: 80%">

<div class="row" style="width: 100%">

<div class="col-6" align="left">

  <% @percent = @valuation.final_price.to_f * 0.1 %>
  <% @minus = @valuation.final_price.to_f - @percent.to_f  %>
  <% @plus = @valuation.final_price.to_f + @percent.to_f  %>


  <label style="width: 128px;height: 34px;color: #8e8e8e;font-family: 'Helvetica Neue';font-size: 30px;font-weight: 700;letter-spacing: 2.76px;line-height: 13px;font-family: Arial;font-weight: 700;margin-top: 30px;margin-left: 50px;"><%= number_with_precision((@minus.to_i  + 50) / 1000 * 1000 , :precision => 0, :delimiter => ',') %></label>

</div>


<div class="col-6" align="right">
 <label style="width: 128px;height: 34px;color: #8e8e8e;font-family: 'Helvetica Neue';font-size: 30px;font-weight: 700;letter-spacing: 2.76px;line-height: 13px;font-family: Arial;font-weight: 700;margin-top: 30px;margin-right: 50px;"><%= number_with_precision((@plus.to_i + 50) / 1000 * 1000, :precision => 0, :delimiter => ',') %></label>
  </div>

</div>






      </div>






                          



            </div>

    </div>
  </div>
</div>


    <br><br><br>   <br><br><br>


