
  <% if session[:admin_id] %>

  <body>
 <%= render 'layouts/header' %>

   

       <div class="page-wrapper" style="min-height: 785px;">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Registered Valuations</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active">Registered Valuations</li>
                            </ol>
                           
                        </div>
                    </div>

                    <script>
function myFunction() {
    window.location.replace("/companies/new");
}
</script>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Valuation Listing</h4>
                   
                                <div class="table-responsive m-t-40">
                                    <div id="example23_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="dt-buttons"> 
                                    
                                          </div>

                       <table id="example23" class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">
                                        <thead>
                                        <tr><th class="sorting_asc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 171px;">ID</th><th rowspan="1" colspan="1">User</th><th rowspan="1" colspan="1">Has been Painted</th><th rowspan="1" colspan="1">Engine has Problem</th><th rowspan="1" colspan="1">Had Accident</th><th rowspan="1" colspan="1">Owners had</th><th rowspan="1" colspan="1">Brakes Condition</th><th rowspan="1" colspan="1">AC Condition</th><th rowspan="1" colspan="1">Radio Condition</th><th rowspan="1" colspan="1">Electrical Condition</th><th rowspan="1" colspan="1">Rims Condition</th><th rowspan="1" colspan="1">Seats Condition</th><th rowspan="1" colspan="1">Steering Condition</th><th rowspan="1" colspan="1">Suspension Condition</th><th rowspan="1" colspan="1">Transmition Condition</th><th rowspan="1" colspan="1">
                                        Tyres Condition</th><th rowspan="1" colspan="1">Evaluation Type</th><th rowspan="1" colspan="1">Brand</th><th rowspan="1" colspan="1">Trim</th><th rowspan="1" colspan="1">Year of Car</th><th rowspan="1" colspan="1">Model Car</th><th rowspan="1" colspan="1">Kilometers</th></tr>
                                        </thead>
                                     
                                        <tbody>
                                
                                            
                         <script>
    function handle(e){
        if(e.keyCode === 13){
            e.preventDefault(); // Ensure it is only this code that rusn

            alert("Enter was pressed was presses");
        }
    }
</script>                   
                                  
    

           <% @valuations.each do |valuation| %>
                                            
                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><%= valuation.id %></td>
                                            <td><%= User.find(valuation.user_id).name %></td>
                                          
                   
                                            <td><%= valuation.car_paint %></td>
                                            <td><%= valuation.engine_problem %></td>
                                            <td><%= valuation.accident %></td>
                                            <td><%= valuation.number_owners %></td>
                                            <td><%= valuation.brakes %></td>
                                            <td><%= valuation.ac %></td>
                                            <td><%= valuation.radio %></td>
                                            <td><%= valuation.electrical %></td>
                                            <td><%= valuation.rims %></td>
                                            <td><%= valuation.seats %></td>
                                            <td><%= valuation.steering %></td>
                                            <td><%= valuation.suspension %></td>
                                            <td><%= valuation.transmission %></td>
                                            <td><%= valuation.tyres %></td>
                                            
                                            <td><%= valuation.valuation_type %></td>
                                            <td><%= Brand.find(valuation.brand ).name %></td>
                                            <td><%= valuation.trim_select %></td>
                                            <td><%= valuation.year_car %></td>
                                            <td><%= CarModel.find(valuation.model_car).name %></td>
                                            <td><%= Millage.find(valuation.kilometers).range %></td>
                                            
                                 
                                  

                                            </tr>
 <% end %>



                                        </tbody>
                                    </table>
                                  
                                 
                                </div>
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>

                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
 <%= render 'layouts/footer' %>


   </div>

  <% else %>
 <%= render 'layouts/signin' %>
  <% end %>
